@import "./breakpoints.scss";

$black: #000000;
$white: #ffffff;
$yellow: #fff3d8;

@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/cases.scss";
@import "./components/navigation.scss";